# Dependencies
node_modules
npm-debug.log*

# Misc
.DS_Store
*.pem

# Build
/packages/*/dist/

# Local env files
.env

# TypeScript
*.tsbuildinfo

# PWA
/packages/client/public/sw*
/packages/client/public/swe-worker*
