# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# typescript
*.tsbuildinfo
next-env.d.ts

# configs
/next.config.js
/postcss.config.cjs
/tailwind.config.cjs

# pwa
/public/sw.js
/public/sw.js.map
