# Dependencies
node_modules
npm-debug.log*

# Misc
.DS_Store
*.pem

# Build
/.next/
/out/
/packages/client/dist/

# Local env files
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA
/public/sw*
/public/swe-worker*

# Prisma
/generated/prisma/
/packages/server/generated/prisma/
