# Dependencies
/node_modules
npm-debug.log*

# Misc
.DS_Store
*.pem

# Next.js
/.next/
/out/

# Local env files
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA
/public/sw.js
/public/sw.js.map

# Prisma
/generated/prisma/
