@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
  user-select: text;
}

@layer utilities {
  .hide-scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbars::-webkit-scrollbar {
    display: none;
  }
}
