@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@layer utilities {
  .hide-scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbars::-webkit-scrollbar {
    display: none;
  }
}
